<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>My ToDo List | TURNERO</title>
</head>
<body>
<form>
    <button formaction="{% url 'create-task' %}">Create Task</button>
</form>
<table border="1" width="100%"
<tr style="...">
    <th height="70px">List Item</th>
    <th height="70px">Description</th>
    <th height="70px">Status</th>
</tr>
{% for task in object_list %}
    <tr style="...">
        <td style="text-align: center">{{ task.title }}</td>
        <td style="text-align: center">{{ task.description }}</td>
        <td style="text-align: center">{{ task.status }}</td>
        <td style="text-align: center"><a href="{url 'update-task' task.id}">Update Task</a></td>
        <td style="text-align: center"><a href="{url 'delete-task' task.id}">Delete Task</a></td>
    </tr>
{% empty %}
    <h3>No hay pacientes en espera</h3>
{% endfor %}
</table>
</div>
</body>
