<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a turn</title>
</head>
<body>
<form class='container' method="POST" action="">
    <a class='other' href="{% url 'tasks' %}">Go Back</a>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update">

</body>
</html>